#layout{
    display: flex;    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
}

.sidebar {
    /* position: fixed; */
    width: 240px;
    /* left: -240px; */
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;

}


.main-body {

}